# OS
.DS_Store

# Frontend (React/Vite)
blog-frontend/node_modules/
blog-frontend/dist/
blog-frontend/.vite/
blog-frontend/.env

# Backend (Python)
blog-backend/venv/
blog-backend/__pycache__/
*.pyc
*.pyo
*.sqlite3

# logs
*.log